/* colores principales */
:root {
    --fondo: #0f1117;
    --panel: #1a1d27;
    --superficie: #232736;
    --borde: #2e3348;
    --texto: #e8eaf6;
    --borrar: #e6132f;

    --verde: #00e5a0;
    --btn: #252a3a;
    --btn-hover: #2e3450;
}

/* reseteo basico */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/* centramos todo en la pantalla */
body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background:var(--fondo);
    font-family:'Exo 2', sans-serif;
    color:var(--texto);
}

/* titulo */
h1{
    margin-bottom:15px;
    font-weight:700;
    letter-spacing:1px;
}

/* contenedor de la calculadora */
.calculadora{
    width:320px;
    background:var(--panel);
    border:1px solid var(--borde);
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 8px 25px rgba(0,0,0,0.5);
}

/* pantalla */
.pantalla{
    padding:20px;
    background:var(--superficie);
    border-bottom:1px solid var(--borde);
    text-align:right;
}

/* numero del resultado */
#resultado{
    font-family:'Share Tech Mono', monospace;
    font-size:2.2rem;
}

/* grilla de botones */
.botones{
    display:grid;
    grid-template-columns:repeat(4,1fr);
}

/* botones */
.botones button{
    height:60px;
    border:1px solid var(--borde);
    background:var(--btn);
    color:var(--texto);
    font-size:1.1rem;
    font-family:'Share Tech Mono', monospace;
    cursor:pointer;
    transition:background 0.2s, transform 0.08s;
}

/* hover */
.botones button:hover{
    background:var(--btn-hover);
    color: var(--texto);
}

/* efecto al presionar */
.botones button:active{
    transform:scale(0.95);
}

/* operadores */
button[data-action="op"]{
    color:var(--verde);
    font-weight:700;
}

/* operadores */
button[data-action="clear"]{
    color:var(--borrar);
    font-weight:700;
}

/* boton igual */
button[data-action="equals"]{
    background:var(--verde);
    color:#000;
    font-weight:800;
}